body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.557);
}

.stopWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 25px;

}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
  margin-bottom: 25px;
}
.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5 ease;
}

.start-button{
  background-color: hsl(115, 100%, 40%);
}
.start-button:hover{
  background-color: hsl(115, 100%, 30%);
}

.stop-button{
  background-color: hsl(19, 100%, 40%);
}
.stop-button:hover{
  background-color: hsl(19, 100%, 30%);
}

.reset-button{
  background-color: hsl(228, 84%, 40%);
}
.reset-button:hover{
  background-color: hsl(228, 84%, 30%);
}